* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background: url("../img/jumbo.png") center;
    background-size: cover;
    height: 600px;
    padding-top: 20px;
    position: relative;
}

nav.topbar {
    height: 34px;
    line-height: 34px;
    color: #fff;
}

nav.topbar .logo, nav.topbar .login {
    width: 25%;
    height: 100%;
}

nav.topbar .menu {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 14px;
}

nav.topbar .menu li {
    display: inline-block;
    margin-left: 30px;
}

nav.topbar .menu li:first-child {
    margin-left: 0;
}

nav.topbar .login {
    text-align: right;
}

.button {
    color: #333;
    background-color: #fff;
    border-radius: 25%;
    padding: 8px;
    font-size: 12px;
}

.jumbo-center {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #fff;
}

.title-jumbo {
    font-size: 50px;
    padding: 30px 0;
}

[class^="text-"] {
    line-height: 1.5;
    font-size: 16px;
}

[class^="button-"] {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: 20px 8px;
}

.button-white {
    width: 200px;
    background: #fff;
    color: #333;
}

.button-black {
    width: 300px;
    background: #333;
    color: #fff;
}

.section-image {
    width: 70%;
    height: 600px;
    text-align: center;
}

.section-image img {
    height: 400px;
}

.section-text {
    width: 30%;
}

.title-section {
    font-size: 40px;
    padding: 30px 0;
}

main section:nth-child(even) {
    background: #eee;
}